@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
body {
    background-color: #FAF9F6;
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Lisu+Bosa:wght@400;700&display=swap');

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}